{% extends "@stable9/content/page-title.html.twig" %}
{%
  set title_attributes = title_attributes.addClass([
    'is-1',
    'is-size-2-tablet-only',
    'is-size-3-mobile',
    'has-padding-top-20-desktop',
    'has-padding-top-10-tablet-only',
    'has-padding-top-5-mobile',
    'has-padding-left-10-touch',
    'has-padding-right-10-touch',
  ])
%}
