{% extends "@stable9/block/block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'has-margin-top-2'
  ])
%}
{% set attributes = attributes.addClass(classes) %}
{% block content %}
{% block logo %}
  {% if site_logo %}
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
      <figure>
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img class="has-max-height-150 has-max-height-100-touch" src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      </figure>
    </div>
  </div>
  {% endif %}
{% endblock logo %}
{% block site_name %}
  {% if site_name %}
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
      <a class="title is-size-3-desktop is-size-4-touch" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
  </div>
  {% endif %}
{% endblock site_name %}
{% endblock content %}
